.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
  color: var(--color-primary);

  section {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 1440px;
    padding: 0 35px;
    display: flex;
    margin: auto;
  }

  .coverImage {
    width: 100%;
    object-fit: cover;
    padding-top: 50px;
  }

  img {
    object-fit: cover;
  }
}

.content {
  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-roslindale);
    font-weight: 300;
    text-transform: uppercase;
    color: var(--color-primary);
  }

  h1.title {
    font-size: 90px;
    line-height: 153px;
  }

  h2.subtitle {
    font-size: 60px;
  }

  h3 {
    font-size: 50px;
  }

  .fullWidth {
    width: 100%;
  }

  .columnFullWidth {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .textRight {
    text-align: right;
  }

  .info {
    display: flex;
    gap: 30px;
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .title {
      font-family: var(--font-roslindale);
      font-size: 85px;
      text-align: right;
      font-weight: 300;
      line-height: 100%;
      text-transform: uppercase;
      width: 470px;
      justify-self: end;
    }

    .text {
      font-family: var(--font-apercu-pro);
      font-size: 18px;
      font-weight: 400;
      color: var(--color-primary);

      p:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  .productShowcase {
    display: grid;
    padding-top: 50px;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    width: 100%;
  }

  .products {
    padding-top: 50px;
    width: 100%;

    .productsGrid {
      margin-top: 40px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
      align-items: flex-start;
      width: 100%;

      > div {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .gallery {
    width: 100%;

    h1.title {
      width: 800px;
      line-height: 85px;
      margin-bottom: 30px;
    }

    .galleryGrid {
      width: 100%;
      margin-bottom: 50px;
      gap: 16px;
      display: flex;
      flex-direction: column;

      .row {
        display: flex;
        flex-direction: row;
        gap: 16px;
      }
    }
  }

  .infoOrders {
    width: 100%;
    margin-bottom: 50px;

    .ordersLayout {
      display: flex;
      justify-content: space-between;
      margin-top: 48px;
      width: 100%;
    }

    .text {
      p {
        font-family: var(--font-apercu-pro);
        font-size: 20px;
        margin-bottom: 20px;
      }

      h3 {
        margin: 20px 0;
      }
    }

    .ordersText {
      display: flex;
      flex-direction: column;
      width: 432px;
    }
  }

  .reseller {
    width: 100%;

    .resellerHeading {
      width: 710px;
    }

    .resellerContent {
      display: flex;
      justify-content: center;
      gap: 60px;
      margin-top: 40px;
      width: 100%;
    }

    .resellerForm {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    .resellerDescription {
      width: 430px;
      margin-bottom: 26px;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }

  .reviews {
    width: 100%;

    .reviewsGrid {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
  }

  .alignStart {
    align-self: flex-start;
  }

  .alignEnd {
    align-self: flex-end;
  }

  .reviewsCta {
    margin: 40px 0;
  }
}

@media (max-width: 1430px) {
  .content {
    .gallery {
      .galleryGrid {
        .row {
          width: 100%;

          img {
            height: auto;
          }
        }
      }
    }

    .infoOrders {
      .ordersLayout {
        gap: 16px;

        .ordersText {
          width: 50%;
        }

        img:not(.alignEnd) {
          width: 50%;
          height: 680px;
        }
        .alignEnd {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 1040px) {
  .content {
    .reseller {
      .resellerContent {
        gap: 30px;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .reviews {
      margin-top: 50px;
    }
  }
}

@media (max-width: 1100px) {
  .content {
    h1.title {
      font-size: 70px;
      line-height: 90px;
    }

    h2.subtitle {
      font-size: 48px;
    }

    h3 {
      font-size: 40px;
    }

    .info {
      grid-template-columns: 1fr;
      gap: 24px;

      .title {
        text-align: left;
        width: 100%;
        font-size: 70px;
      }
    }

    .productShowcase {
      display: flex;
      margin: auto;
      gap: 5px;

      .fullWidth {
        img {
          width: 473px;
          height: auto;
        }
      }
      .columnFullWidth {
        img {
          width: 260px;
          height: auto;
        }
      }
    }

    .infoOrders {
      .ordersLayout {
        img:not(.alignEnd) {
          width: 50%;
          height: auto;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .content {
    .infoOrders {
      .ordersLayout {
        .ordersText {
          width: 100%;
        }

        img:not(.alignEnd) {
          display: none;
        }
      }
    }

    .reseller {
      .resellerContent {
        img {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .page section {
    padding: 0 16px;
  }

  .content {
    h1.title {
      font-size: 48px;
      line-height: 100%;
    }

    h2.subtitle {
      font-size: 36px;
    }

    h3 {
      font-size: 28px;
    }

    .info {
      .title {
        font-size: 48px;
      }
    }

    .products {
      .productsGrid {
        grid-template-columns: 1fr;
        gap: 24px;

        .gridTextItem {
          display: none;
        }
      }
    }

    .gallery {
      h1.title {
        padding-top: 32px;
        width: 420px;
        line-height: 48px;
      }

      .galleryGrid {
        gap: 12px;

        .row {
          gap: 12px;
        }
      }
    }

    .reseller {
      .resellerHeading {
        width: 400px;
      }
      .resellerContent {
        flex-direction: column;
        gap: 32px;
      }
    }

    .reviews {
      grid-template-columns: 1fr;
      gap: 20px;
    }

    .reviewsCta {
      width: 100%;
      text-align: center;
    }
  }

  .reviews {
    margin-top: 32px;
  }
}

@media (max-width: 770px) {
  .content {
    .productShowcase {
      display: grid;
      grid-template-columns: 1fr;
      margin: auto;
      gap: 16px;

      .fullWidth {
        img {
          width: 100%;
          height: auto;
        }
      }
      .columnFullWidth {
        display: flex;
        flex-direction: row;
        gap: 16px;
        width: 100%;

        > div {
          width: 50%;

          img {
            width: 100%;
            height: 350px;
            object-position: 20%;
          }
        }
      }
    }
  }
}

@media (max-width: 720px) {
  .content {
    .gallery {
      display: none;
    }

    .infoOrders {
      margin-top: 32px;
    }

    .reviews {
      .reviewsGrid {
        grid-template-columns: 1fr;
      }
    }
  }
}

@media (max-width: 450px) {
  .page {
    .coverImage {
      display: none;
    }

    .content {
      .productShowcase {
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
        gap: 16px;

        .fullWidth {
          img {
            width: 100%;
            height: auto;
          }
        }
        .columnFullWidth {
          display: flex;
          flex-direction: column;
          gap: 16px;
          width: 100%;

          > div {
            width: 100%;

            img {
              width: 100%;
              height: 350px;
              object-position: 20%;
            }
          }
        }
      }

      .reseller {
        .resellerHeading {
          width: 100%;
        }
      }
    }
  }
}
