.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
  color: var(--color-primary);

  section {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 1370px;
    display: flex;
    margin: auto;
  }

  .coverImage {
    width: 100%;
    object-fit: cover;
    padding-top: 50px;
  }
}

.content {
  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-roslindale);
    font-weight: 300;
    text-transform: uppercase;
    color: var(--color-primary);
  }

  h1.title {
    font-size: 90px;
    line-height: 153px;
  }

  h2.subtitle {
    font-size: 60px;
  }

  h3 {
    font-size: 50px;
  }

  .fullWidth {
    width: 100%;
  }

  .columnFullWidth {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .textRight {
    text-align: right;
  }

  .info {
    display: flex;
    gap: 30px;
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .title {
      font-family: var(--font-roslindale);
      font-size: 85px;
      text-align: right;
      font-weight: 300;
      line-height: 100%;
      text-transform: uppercase;
      width: 470px;
      justify-self: end;
    }

    .text {
      font-family: var(--font-apercu-pro);
      font-size: 18px;
      font-weight: 400;
      color: var(--color-primary);

      p:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  .productShowcase {
    display: grid;
    padding-top: 50px;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    width: 100%;
  }

  .products {
    padding-top: 50px;

    .productsGrid {
      margin-top: 40px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
      align-items: flex-start;
      width: 100%;

      > div {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .gallery {
    width: 100%;

    h1.galleryTitle {
      width: 800px;
      line-height: 85px;
      margin-bottom: 30px;
    }

    .galleryGrid {
      width: 100%;
      margin-bottom: 50px;
      gap: 16px;
      display: flex;
      flex-direction: column;

      .row {
        display: flex;
        flex-direction: row;
        gap: 16px;
      }
    }
  }

  .infoOrders {
    width: 100%;
    margin-bottom: 50px;

    .ordersLayout {
      display: flex;
      justify-content: space-between;
      margin-top: 48px;
      width: 100%;
    }

    .text {
      p {
        font-family: var(--font-apercu-pro);
        font-size: 20px;
        margin-bottom: 20px;
      }

      h3 {
        margin: 20px 0;
      }
    }

    .ordersText {
      display: flex;
      flex-direction: column;
      width: 432px;
    }
  }

  .reseller {
    width: 100%;

    .resellerHeading {
      width: 710px;
    }

    .resellerContent {
      display: flex;
      justify-content: center;
      gap: 60px;
      margin-top: 40px;
      width: 100%;
    }

    .resellerForm {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    .resellerDescription {
      width: 430px;
      margin-bottom: 26px;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }

  .reviews {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .alignStart {
    align-self: flex-start;
  }

  .alignEnd {
    align-self: flex-end;
  }

  .reviewsCta {
    margin: 40px 0;
  }
}
