.Button {
  border: none;
  cursor: pointer;
  font-family: var(--font-apercu-pro);
  font-weight: 600;
  line-height: 18px;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.Button--size-small {
  padding: 8px 12px;
  font-size: 12px;
}

.Button--size-medium {
  padding: 12px 18px;
  font-size: 16px;
}

.Button--size-large {
  padding: 20px 32px;
  font-size: 24px;
}

.Button--variant-primary {
  background-color: var(--color-primary);
  color: var(--color-accent);
}

.Button--variant-secondary {
  background-color: var(--color-accent);
  color: var(--color-primary);
}

.Button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.Button:not(:disabled):hover {
  transform: translateY(-1px);
}
