.Skeleton {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 50px;

  .imageSkeleton {
    width: 100%;
    height: 445px;
  }

  .skeletonBlock {
    background: #d8d8d8;
    animation: skeletonPulse 1.2s ease-in-out infinite;
  }

  .skeletonLine {
    height: 22px;
    width: 100%;
  }

  .skeletonLineShort {
    width: 70%;
  }
}

@keyframes skeletonPulse {
  0% {
    background: #d8d8d8;
  }
  50% {
    background: #e8e8e8;
  }
  100% {
    background: #d8d8d8;
  }
}

@media (max-width: 800px) {
  .Skeleton {
    .imageSkeleton {
      height: 320px;
    }
  }
}

@media (max-width: 400px) {
  .Skeleton {
    .imageSkeleton {
      height: 240px;
    }
  }
}
