.ReviewItem {
  padding: 32px;
  border: 1px solid #ebebeb;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--font-apercu-pro);
  width: 100%;
  min-height: 200px;
  gap: 21px;

  .headline {
    display: flex;
    flex-direction: column;
    font-family: var(--font-roslindale);
    gap: 7px;

    .text {
      color: var(--text-primary);
      font-weight: 500;
      font-size: 24px;
      line-height: 150%;
    }

    .rating {
      display: flex;
    }
  }

  .review {
    color: #828282;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
  }

  .user {
    margin-top: 21px;
    display: flex;
    gap: 16px;
    align-items: center;

    .avatar {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: #31405e;
      color: white;
      text-align: center;
      text-transform: uppercase;
      font-size: 25px;
      font-weight: 500;
      align-items: center;
      justify-content: center;
      display: flex;
    }

    .info {
      display: flex;
      flex-direction: column;

      font-weight: 500;
      line-height: 150%;

      .name {
        color: var(--text-primary);
        font-size: 16px;
      }

      .description {
        color: #828282;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 720px) {
  .ReviewItem {
    padding: 24px;
    gap: 16px;

    .headline {
      gap: 4px;

      .text {
        font-size: 20px;
      }
    }

    .review {
      font-size: 14px;
    }

    .user {
      margin-top: 12px;

      .avatar {
        width: 40px;
        height: 40px;
        font-size: 20px;
      }

      .info {
        .name {
          font-size: 15px;
        }

        .description {
          font-size: 13px;
        }
      }
    }
  }
}
