.GridItem {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 4px;

  .image {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
    object-fit: cover;
  }

  .title {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: var(--color-primary);
  }

  .description {
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    color: var(--text-secondary);
  }

  .price {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-primary);
  }
}
