.GridItem {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  text-decoration: none;
  width: 100%;

  .imageWrapper {
    width: 100%;
    overflow: hidden;
  }

  .image {
    width: 100%;
    object-fit: cover;
  }

  .title {
    font-weight: 300;
    font-size: 23px;
    line-height: 100%;
    color: var(--color-primary);
    font-family: var(--font-roslindale);
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    width: 100%;
  }

  .description {
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    color: var(--color-primary);
    font-family: var(--font-apercu-pro);
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    margin-top: 20px;
  }
}

.GridItem:not(:last-child) {
  margin-bottom: 70px;
}

.clickable {
  cursor: pointer;
  color: inherit;
}

@media (max-width: 800px) {
  .GridItem {
    gap: 6px;

    .title {
      font-size: 28px;
    }

    .description {
      font-size: 18px;
    }
  }

  .GridItem:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (max-width: 400px) {
  .GridItem {
    .title {
      font-size: 24px;
    }

    .description {
      font-size: 16px;
    }
  }
}
