.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--background);
  color: var(--color-primary);
  position: relative;
  font-family: var(--font-inter-tight);

  .header h1,
  .header p {
    color: #e1e1e1;
  }

  .header nav a {
    color: #e1e1e1;
  }

  .header a button {
    background-color: #e1e1e1;
    color: var(--color-primary);
  }

  section {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 1280px;
    min-height: 100vh;
    padding: 28px 32px 100px;
    display: flex;
    margin: auto;
  }

  .title {
    width: 100%;
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
  }

  .products {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    align-items: flex-start;
    width: 100%;

    .mainProduct {
      grid-column: span 3;
    }

    .otherProducts {
      grid-column: span 2;

      img {
        height: 278px;
      }
    }

    > div {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }
}

@media (max-width: 1100px) {
  .content {
    padding: 0 24px 64px;

    .title {
      font-size: 32px;
      line-height: 110%;
    }

    .products {
      grid-template-columns: repeat(2, 1fr);

      .mainProduct,
      .otherProducts {
        grid-column: span 2;
      }

      .otherProducts img {
        height: auto;
      }
    }
  }
}

@media (max-width: 720px) {
  .page {
    .header nav a {
      color: var(--color-primary);
    }
  }

  .content {
    padding: 78px 20px 8px;

    .title {
      font-size: 32px;
      line-height: 110%;
    }

    .products {
      margin-top: 32px;
      grid-template-columns: 1fr;
      gap: 24px;

      .mainProduct,
      .otherProducts {
        grid-column: span 1;
      }

      > div {
        gap: 24px;
      }

      img {
        height: auto;
      }
    }
  }
}
