:root {
  --background: #fff;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --color-primary: #2f3c5c;
  --color-accent: #fff;

  --button-primary-hover: #2f3c5c;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
