.page {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--foreground);
  padding: 50px;

  .logo {
    margin: 0 auto;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 40px;

    h1 {
      font-size: 56px;
      line-height: 56px;
      color: var(--text-primary);
      width: auto;
      text-align: center;
      font-family: var(--font-the-seasons);
    }

    p {
      font-size: 16px;
      line-height: 24px;
      font-family: var(--font-geist-sans);
      width: 300px;
      color: var(--text-primary);
      text-align: center;
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 8px;

    .icon {
      width: 24px;
      height: 24px;
    }
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}
