.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
  font-family: var(--font-geist-sans);
  color: var(--color-primary);
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 1280px;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--foreground);

  .description {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    width: 75%;
    text-align: left;
    margin: 10 0 40;
  }

  .hero {
    margin-top: 60px;
    margin-bottom: 50px;
  }

  h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 100%;
  }

  .productsGrid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 50px;
  }

  .products {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    align-items: flex-start;

    .mainProduct {
      grid-column: span 3;
    }

    .otherProducts {
      grid-column: span 2;
      img {
        height: 278px;
      }
    }

    > div {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }

  .reviews {
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 50px;
  }
}
