.LanguageSwitcher {
  display: inline-flex;
  gap: 4px;
  padding: 4px;
  width: fit-content;
  margin: auto;
  color: white;

  div {
    font-family: var(--font-apercu-pro);
    font-weight: 500;
    cursor: pointer;
  }

  .active {
    font-weight: 900;
    text-decoration: underline;
  }
}
