.Input {
  width: 100%;
  height: 48px;
  padding: 12px 16px;
  background: var(--color-primary);
  color: #ebebeb;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.04em;
  transition: border-color 0.2s ease;
}
