.Footer {
  width: 100%;
  background-color: #f7f7f7;
  color: #454545;
  justify-content: space-between;
  height: 215px;

  .main {
    margin: auto;
    padding: 36px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1280px;
    align-items: flex-start;
    font-family: var(--font-inter-tight);
  }

  .socialMediaContainer {
    display: flex;
    gap: 32px;
    flex-direction: column;
    height: 100%;

    .socialMedia {
      display: flex;
      gap: 16px;
    }
  }

  .siteMap {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    height: 100%;
    text-align: right;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;

    .link {
      color: inherit;
      text-decoration: none;
    }

    .link:hover {
      text-decoration: underline;
    }
  }
}
