.GridText {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .title {
    font-weight: 300;
    font-size: 50px;
    line-height: 100%;
    color: var(--color-primary);
    font-family: var(--font-roslindale);
    text-transform: uppercase;
  }

  .text {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: var(--color-primary);
    font-family: var(--font-apercu-pro);
    letter-spacing: 0;

    p:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
