.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--color-primary);
  position: relative;
  font-family: var(--font-inter-tight);

  .header h1,
  .header p {
    color: #8a0400;
  }

  .header nav a {
    color: #8a0400;
  }

  .header a button {
    background-color: #fff;
    color: #8a0400;
  }

  .header div[role="group"] button[aria-pressed="true"] {
    background-color: #8a0400;
    color: #fff;
  }

  .heroImage {
    img {
      object-position: 0 -580px;
    }
  }
}

.button {
  display: flex;
  margin: 46px auto;
  background-color: #8a0400;
  color: #fff;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  background: var(--foreground);
  color: var(--color-primary);
  padding: 64px 0;
}

.contentInner {
  width: 100%;
  max-width: 1280px;
  padding: 0 32px;
}

.contentTitle {
  font-size: 48px;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: 50px;
  color: #8a0400;
}

.contentInner p {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 25px;
  color: #828282;
}

.products {
  margin-top: 115px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.products > div:nth-child(even) {
  flex-direction: row-reverse;
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 15px;
  padding: 24px;
  color: #8a0400;
  background-color: rgba(138, 4, 0, 0.26);
  line-height: 150%;
  gap: 16px;
}

.info p {
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  color: #8a0400;
}

.info ul {
  color: #8a0400;
  font-weight: 500;
  font-size: 20px;
  margin-left: 32px;
}

@media (max-width: 960px) {
  .content {
    padding: 48px 0 72px;
  }

  .contentInner {
    padding: 0 24px;
  }

  .contentTitle {
    font-size: 32px;
  }

  .contentInner p {
    font-size: 20px;
  }
}

@media (max-width: 720px) {
  .content {
    padding: 40px 0 64px;
  }

  .contentInner {
    padding: 0 20px;
  }

  .contentTitle {
    font-size: 32px;
  }

  .products {
    margin-top: 48px;
    gap: 32px;
  }

  .products > div {
    flex-direction: column;
  }

  .products > div:nth-child(even) {
    flex-direction: column;
  }
}
