.TextArea {
  width: 100%;
  height: 96px;
  padding: 14px 16px;
  background-color: var(--color-primary);
  color: #ebebeb;
  font-family: var(--font-apercu-pro);
  resize: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
}
